@using CafeDevCode.Database.Entities
@using CafeDevCode.Logic.Shared.Model
@model IEnumerable<AuthorSummaryModel>

@if (Model != null && 
     Model.Any())
{
    foreach (var author in Model)
    {
        <tr>
            <td style=" text-align: left">
                @author.Id</td>
            <td style=" text-align: left">
                @author.FullName</td>
            <td style=" text-align: left">
                @author.Email</td>
            <td style=" text-align: left">
                @author.Phone</td>
            <td style=" text-align: left">
                @author.ShortName</td>
            <td style=" text-align: left">
                <a class="btn btn-success d-inline" asp-action="Detail" asp-controller="Author" asp-route-id="@author.Id">
                    <i class="fa-solid fa-arrow-up-right-from-square"></i>
                </a>
                <button type="button" class="btn btn-danger d-inline ms-2" onclick="onDelete(@author.Id)">
                    <i class="fa-solid fa-trash-can"></i>
                </button>
            </td>
        </tr>
    }
}